<!-- Page Content -->

<div class="container"  ng-controller="EditCtrl">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Edit
                <small>a page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="~/../index.html"><i class="fa fa-home"></i>Home</a></li>
                <l>|</l>
                <li class="active">Edit</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div>
                <form ng-submit="submitForm()">
                    <div class="form-group">
                        <label>Enter the Responsive Page ID you wish to edit:</label>
                        <input type="number" ng-model="page.id" class="form-control" required>
                    </div>
                    <input type="submit" ngClick="Submit" class="btn btn-primary" value="Show">
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" class="hidden">
        <div class="col-lg-12">
            <form ng-submit="editForm()">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="number" class="form-control" value="{{pages.id}}" disabled>
                </div>
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" class="form-control" maxlength="50" value="{{pages.title}}" required>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input type="text" class="form-control" maxlength="200" value="{{pages.description}}">
                </div>
                <div class="form-group">
                    <label>Page Type:</label>
                    <select class="form-control" class="form-control" required value="{{pages.type}}">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="form-group radio-inline">
                    <label>Active:</label>
                    <label><input type="radio" name="optradio" ng-model="pages" ng-value="true"> True</label>
                    <label><input type="radio" name="optradio" ng-model="pages" ng-value="false"> False</label>
                </div>
                <div class="form-group radio-inline">
                    <label>Active:</label>
                </div>
                <div *ngFor="page entry of pages">
                    <label>{{pages.isActive}}</label>
                    <input type="radio" name="radiogroup"
                               [checked]="idx === 0"
                               [value]="page.id" checked>
                </div>
                <div class="form-group radio-inline">

                </div>
                <div class="form-group">
                    <label>Published On:</label>
                    <input type="datetime-local" class="form-control" value="{{pages.publishedOn}}">
                </div>
                <input type="submit" ngClick="Submit" class="btn btn-primary" value="Edit">
            </form>
        </div>
    </div>

</div>

